body {
    background-color: #070831;
    font-family: 'poppins-font', sans-serif;
    color: #D0E7E7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #248C8E;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    margin-right: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #D0E7E7;
    text-decoration: none;
    font-size: 16px;
}

nav a i {
    margin-right: 8px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 4em;
    font-family: 'Poppins', sans-serif; 
    font-weight: lighter;
    letter-spacing: 3px;
}

p {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 6em; 
    font-weight: bold; 
    font-family: 'Poppins', sans-serif; /* Använd Poppins Bold */
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.box {
    width: 300px;
    padding: 20px;
    background-color: #208486;
    color: #D0E7E7;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

.box p {
    font-size: 18px;
    text-transform: none;
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}