
CSS-dokument (styles.css):

css
Copy code
body {
    background-color: #070831;
    font-family: 'Urbanista', sans-serif;
    color: #fff;
}

h1 {
    font-size: 115px;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 115px;
    font-weight: thin;
    line-height: 1.2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

.box img {
    max-width: 100%;
    height: auto;
}

/* Stil för välkomsttext */
p {
  font-size: 18px;
  margin-top: 20px;
}

/* Stil för minskad bild */
.minskad-bild {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}